.red-color {
    color: red
}


.btn-submit-login {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar-info {
    background-color: #5bc0de;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.graph-center {
    margin: auto;
    width: 80%;
    padding: 10px;
  }
  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
  }

